.project-list {
    width: auto;
    max-width: 100%;
  border-collapse: collapse;
}

tr {
	border-bottom: thin solid lightgray;
}

tr.project-list-item td {
	padding: 10px;
}

.project-list-item:hover {
    background-color: #ffddff;
}

.project-list-item .thumb {
    width: 120px;
    margin: 4px;
}

.project .thumb {
    width: 64px;
    margin: 4px;
}

.project-list-item .title {
    font-weight: bold;
    font-size: 11pt;
}

.project-list-item .prop {
    font-weight: bold;
}

